.create-channel-dialog {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: absolute;
  z-index: 20;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: fit-content;
  padding: 16px;
  background-color: white;
  border-radius: 12px;
}

.create-channel-dialog .header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  font-weight: bold;
}

.create-channel-dialog .name-input {
  border: solid;
  border-width: 0px;
  border-bottom-width: 1px;
  border-color: rgb(230, 230, 230);
  font-size: 18px;
}

.create-channel-dialog .name-input:focus {
  outline: none;
  border-color: gray;
}

.create-channel-dialog .submit {
  background-color: rgb(230, 230, 230);
  border-color: transparent;
  border-radius: 8px;
  font-size: 18px;
}