.create-group-dialog {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: absolute;
  z-index: 20;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: fit-content;
  padding: 16px;
  background-color: white;
  border-radius: 12px;
}

.create-group-dialog .header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  font-weight: bold;
}

.create-group-dialog .name-input {
  border: solid;
  border-width: 0px;
  border-bottom-width: 1px;
  border-color: rgb(230, 230, 230);
  font-size: 18px;
}

.create-group-dialog .name-input:focus {
  outline: none;
  border-color: gray;
}

.create-group-dialog .users {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 8px;
  border: 1px solid gray;
  border-radius: 12px;
}

.create-group-dialog .users .header {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 500;
}

.create-group-dialog .users .list {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding: 4px;
}

.create-group-dialog .users .list .element {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
}

.create-group-dialog .users .list .element:hover {
  cursor: pointer;
}

.create-group-dialog .users .add-user {
  display: flex;
  flex-direction: row;
  gap: 4px;
}

.create-group-dialog .users .add-user .username-input {
  width: 100%;
  border: solid;
  border-width: 0px;
  border-bottom-width: 1px;
  border-color: rgb(230, 230, 230);
  font-size: 18px;
}

.create-group-dialog .users .add-user .username-input:focus {
  outline: none;
  border-color: gray;
}

.create-group-dialog .users .add-user .button {
  border: 1px solid black;
  border-radius: 4px;
}

.create-group-dialog .submit {
  background-color: rgb(230, 230, 230);
  border-color: transparent;
  border-radius: 8px;
  font-size: 18px;
}