.sidebar {
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 20;
  width: 250px;
  height: 100%;
  transition: 250ms;
  background-color: #fff;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.--sidebar-mobile {
  width: 80%;
}

.sidebar .element {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 16px;
  font-size: 16px;
  font-weight: 500;
  color: #333;
  cursor: pointer;
}

.sidebar .element:hover {
  background-color: #f0f2f5;
}

.sidebar .account-element {
  background-color: #007bff;
  color: white;
}

.sidebar .account-element:hover {
  cursor: default;
}
