.channel-body {
  display: flex;
  flex-direction: column;
  gap: 8px;
  overflow: auto;
  width: 100%;
  height: 100%;
  padding: 16px;
  background-color: lightgray;
}

.channel-body .message-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: fit-content;
}

.channel-body .message {
  display: flex;
  flex-direction: column;
  gap: 3px;
  width: fit-content;
  max-width: 48%;
  height: fit-content;
  padding: 6px;
  background-color: white;
  border-radius: 8px;
}

.--message-mobile {
  max-width: 90% !important;
}

.channel-body .--message-left {
  margin-left: 0;
}

.channel-body .--message-right {
  margin-left: auto;
}

.channel-body .message .user {
  font-size: 16px;
  font-weight: bold;
}

.channel-body .message .inner {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.channel-body .message .inner .content {
  font-size: 16px;
  font-weight: 400;
  word-wrap: break-word;
  white-space: pre-wrap;
}

.channel-body .message .inner .timestamp {
  display: flex;
  align-items: end;
  position: relative;
  top: 8px;
  padding-bottom: 8px;
  font-size: 12px;
  font-weight: 300;
  color: lightgray;
}