* {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.home {
  display: flex;
  flex-direction: row;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #f0f2f5;
}
