.channels {
  height: 100%;
  width: 20%;
  min-width: 20%;
  max-width: 20%;
  margin: 0;
  border: solid;
  border-width: 0px 1px 0px 0px;
  border-color: rgb(230, 230, 230);
  display: flex;
  flex-direction: column;
}

.channels .searchContainer {
  height: 48px;
  width: 100%;
  border: solid;
  border-width: 0px 0px 1px 0px;
  border-color: rgb(230, 230, 230);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.channels .search {
  background-color: rgb(230, 230, 230);
  width: 80%;
  height: 70%;
  border-radius: 15px;
  border: 1px solid rgb(230, 230, 230);
  display: flex;
  align-items: center;
  padding: 5px;
  gap: 5px;
}

.channels .search .input {
  background-color: rgb(230, 230, 230);
  border-color: transparent;
  border: none;
  width: 100%;
  font-size: 14px;
  font-weight: 400;
}

.channels .search .input:focus {
  outline: none;
}

.channels .search .icon {
  background-color: inherit;
  text-decoration: inherit;
}

.channels .search .icon:visited, .channels .search .icon:hover, .channels .search .icon:link {
  text-decoration: inherit;
  color: inherit;
  cursor: auto;
}

.channels .search .icon:hover {
  cursor: pointer;
}

.channels .channel {
  height: 56px;
  width: 100%;
  border: solid;
  border-width: 0px 0px 1px 0px;
  border-color: rgb(230, 230, 230);
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 500;
  padding-left: 10px;
}

.channels .selectedChannel {
  background-color: rgb(230, 230, 230);
}

.channels .channel:hover {
  cursor: pointer;
}