.login {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgb(230, 230, 230);
}

.login .form {
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: fit-content;
  gap: 8px;
  background-color: white;
  border-radius: 12px;
  padding: 16px;
}

.login .form .header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 8px;
  font-size: 22px;
  font-weight: bold;
}

.login .form .input {
  border: solid;
  border-color: rgb(230, 230, 230);
  border-width: 0px;
  border-bottom-width: 1px;
  font-size: 18px;
}

.login .form .input:focus {
  outline: none;
  border-color: gray;
}

.login .form .submit {
  background-color: rgb(230, 230, 230);
  border-color: transparent;
  border-radius: 8px;
  font-size: 18px;
}