.channel {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.channelMobile {
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 15;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  height: 100%;
  transition: 250ms;
  background-color: white;
}