.sidebar {
  width: 18%;
  min-width: 18%;
  max-width: 18%;
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  position: fixed;
  transition: 250ms;
  z-index: 20;
}

.sidebar .element {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}

.sidebar .element:hover {
  cursor: pointer;
  background-color: #e6e6e6;
}

.sidebar .element .text {
  font-size: 16px;
  font-weight: 500;
}